*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
nav{
    justify-content: space-between;
    display: flex;
    background: rgb(8, 247, 8);
    position: fixed;
    padding: 10px;
    align-items: center;
    width: 100%;

}
.logo{
    font-size: larger;
    font-weight: 600;
    font-family: cursive;
}
nav button{
    border-style: solid;
    border-radius: 15px;
    padding: 5px;
    background-color:rgb(8, 247, 8);
    font-size: larger;
    font-weight: 500;

}
nav button:hover{
    background: black;
    color: rgb(8, 247, 8);

}